[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Sureshkalki
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Sureshkalki
	label-Verified = -1..+1 group user/Sureshkalki
	push = group user/Sureshkalki
	read = group user/Sureshkalki
	rebase = group user/Sureshkalki
	removeReviewer = group user/Sureshkalki
	submit = group user/Sureshkalki
[access "refs/heads/*"]
	create = group user/Sureshkalki
	push = +force group user/Sureshkalki
	pushMerge = group user/Sureshkalki
	read = group user/Sureshkalki
[access "refs/tags/*"]
	push = group user/Sureshkalki
	push = +force group user/Sureshkalki
